*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Courier Prime', sans-serif;
    /*--ff-primary: 'IBM Plex Mono', monospace;*/
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 600;

    --clr-light: #fff;
    --clr-dark: black;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  opacity: 80%;
}

a:hover {
  opacity: 70%;
}

body {
    background: black;
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 3em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


/* Social icons */

.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
    max-width: 100%;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
    color: white;
}

/* Image hover effects */

/* Pulse */

.pulse img:hover{
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* Glitter overlay */

.content{
  position: relative;
}

.content .content-overlay-glitter {
  background-image: url(../img/glitter.gif);
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay-glitter {
  opacity: 0.15;
}

.content .content-overlay-water {
  background-image: url(../img/water.gif);
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay-water {
  opacity: 0.15;
}

.content-image{
  width: 100%;
  height: auto;
}

.content-details {
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  top: 40%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

/* Wiggle */

.wiggle {
  display: inline-block;
  animation: wiggle 3s infinite;
}

.wiggle:hover {
  animation: none;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(2deg); }
   95% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

/* Fade */

.fading {
    opacity: 1;
    animation: fade 10s infinite;
}

@keyframes fade {
  0% { opacity: 70% }
  50% { opacity: 90% }
  100% { opacity: 70% }
}

/* Sections */


/* Title */

.title {
  background: url(../img/stalk/files2.gif) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color: white;
  padding: 1em 2em;
}

@media only screen and (max-width: 600px) {
    .title {
        background: url(../img/stalk/files2.gif) no-repeat center center;
        background-size: cover;
    }
}

/* Press */

/*.press {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr;*/
/*    grid-template-rows: auto;*/
/*    grid-gap: 2rem;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*.press content {*/
/*  text-align: justify;*/
/*  align-self: center;*/
/*}*/

/*.press a {*/
/*  color: #eedfd8;*/
/*}*/


/* Interviews */

/*.interviews {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1.5fr;*/
/*    grid-template-rows: auto;*/
/*    grid-gap: 2rem;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*.interviews a {*/
/*  color: #dceed8;*/
/*}*/

/*#interview-portrait {*/
/*    grid-row: 1;*/
/*    grid-column: 1;*/
/*    z-index: 1;*/
/*    text-align: center;*/
/*    align-self: center;*/
/*}*/

/*!*#interview-portrait img {*/
/*    max-width: 400px;*/
/*}*!*/

/*#interview-links {*/
/*    grid-row: 1;*/
/*    grid-column: 2;*/
/*    z-index: 1;*/
/*    text-align: left;*/
/*    align-self: center;*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
/*    .interviews {*/
/*        grid-template-columns: 1fr;*/
/*        padding-top: 2rem;*/
/*    }*/

/*    #interview-portrait {*/
/*        grid-row: 1;*/
/*        grid-column: 1;*/
/*        z-index: 1;*/
/*        text-align: center;*/
/*        align-self: center;*/
/*    }*/

/*    #interview-links {*/
/*        grid-row: 2;*/
/*        grid-column: 1;*/
/*        z-index: 1;*/
/*        text-align: center;*/
/*        align-self: center;*/
/*    }*/
/*}*/


/* Bio */

.bio {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: black;
    color: white;
    align-items: start;
}

.bio-name {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    align-self: start;
    transform: rotate(-20deg);
    max-width: 200px;
}

.bio-image {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}

.bio-text {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.album {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: black;
    color: white;
}

.album-name {
    grid-row: 1;
    grid-column: 2;
    z-index: 2;
    align-self: start;
    margin-left: -30px;
    transform: rotate(7deg);
    max-width: 200px;
}

.album-image {
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
    max-width: 500px;
}

.album-text {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

.single {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: black;
    color: white;
}

.single-name {
    grid-row: 1;
    grid-column: 1/span 2;
    z-index: 2;
    align-items: end;
    transform: rotate(-10deg);
    max-width: 200px;
}

.single-image {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    max-width: 500px;
}

.single-text {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.quote {
    font-size: 0.75em;
    font-style: italic;
}

.photos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    align-items: center;
}

.photo-name {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    align-self: center;
    text-align: center;
    transform: rotate(3deg);
    max-width: 175px;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
}

.photo-grid-1 {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    align-self: center;
}

.photo-grid-2 {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    align-self: center;
}

.photo-grid-3 {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    align-self: center;
}

.photo-grid-4 {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    align-self: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
}

.link-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.link-column {
    text-align: center;
    align-self: center;
    grid-gap: 1rem;
}

.link-column a {
  color: #9e9aa6;
}

/*.shows {*/
/*    background: url(../img/lofi-sharks.gif) no-repeat center center fixed;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    height: 100vh;*/
/*    color: white;*/
/*    padding: 1em 2em;*/
/*}*/


@media only screen and (max-width: 800px) {

    .bio {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .bio-name {
        grid-row: 1;
        grid-column: 1;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(-5deg);
    }
    .bio-image {
        grid-row: 2;
        grid-column: 1;
        max-width: 100%;
    }
    .bio-text {
        grid-row: 3;
        grid-column: 1;
    }
    .album {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .album-name {
        grid-row: 1;
        grid-column: 1;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(3deg);
    }
    .album-image {
        grid-row: 2;
        grid-column: 1;
        max-width: 100%;
    }
    .album-text {
        grid-row: 3;
        grid-column: 1;
    }
    .single {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .single-name {
        grid-row: 1;
        grid-column: 1;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(-3deg);
    }
    .single-image {
        grid-row: 2;
        grid-column: 1;
        max-width: 100%;
    }
    .single-text {
        grid-row: 3;
        grid-column: 1;
    }
    .link-grid {
        grid-template-columns: 1fr;
    }
    .center {
        width: 100%;
    }
}

/* Footer */

/*#565251*/
/*#0f160c*/
/*#cfd8e8*/
/*#7a8f82*/
.footer {
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    /*background-color: #7a8f82;*/
    background-image: url(../img/water-background2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.footer-feature {
    /*background: url(../img/splash.jpeg) no-repeat center bottom;*/
    /*background-size: cover;*/
  /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    /*color: black;*/
    padding: 3em 5em 0 5em;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
}

/*#ab83a2*/
/*#a3b9a8*/
/*#6b8b70*/
/*#c1dcc7*/
/*#57535e*/
.footer a {
    text-decoration: none;
    font-weight: bold;
    color: #57535e;
}
.footer a:hover {
    opacity: 0.7;
}

.footer-panel {
    grid-row: 2;
    grid-column: 1;
    text-align: justify;
    align-self: center;
    color: black;
    padding: 10px;
    background-image: url(../img/cloud-background.jpeg);
    background-size: cover;
    background-position: top;
    opacity: 0.9;
}

/*#d8a2bd
#ab83a2*/
.footer-panel a {
    color: #ab83a2;
}

.footer-video {
    grid-row: 3;
    grid-column: 1;
    width: 100vw;
    height: calc(100vw/1.77777778);
}

.footer-bottom {
    display: none;
}

@media only screen and (max-width: 600px) {
    .footer > div {
        overflow: hidden;
    }

    .footer {
        grid-gap: 0;
    }

    .footer-feature {
        grid-template-columns: 1fr;
        padding: 3em 2em 0 2em;
    }

    .footer-panel {
        margin: 3em 0;
        padding: 1em;
        background-position: top;
    }

    .footer-bottom {
        margin: 1em;
        display: block;
        grid-row: 4;
        grid-column: 1;
        text-align: center;
        justify-self: center;
        align-self: top;
        font-size: 12px;
    }
}