*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Courier Prime', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 100;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: black;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* enable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
}*/

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  opacity: 80%;
}

a:hover {
  opacity: 70%;
}

body {
    background: black;
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 3em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


/* Social icons */

.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
    max-width: 100%;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
    color: white;
}

/* Image hover effects */

/* Pulse */

.pulse img:hover{
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

/* Glitter overlay */

.content{
  position: relative;
}

.content .content-overlay-glitter {
  background-image: url(../img/glitter2.gif);
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay-glitter {
  opacity: 0.15;
}

.content .content-overlay-water {
  background-image: url(../img/water.gif);
  background-size: cover;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay-water {
  opacity: 0.15;
}

.content-image{
  width: 100%;
  height: auto;
}

.content-details {
  position: absolute;
  text-align: center;
  padding: 0 1rem;
  width: 100%;
  top: 40%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

/* Image effects */

/* Wiggle */

.wiggle {
  display: inline-block;
  animation: wiggle 3s infinite;
}

.wiggle:hover {
  animation: none;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(2deg); }
   95% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}

/* fade */

.fading {
    opacity: 1;
    animation: fade 10s infinite;
}

@keyframes fade {
  0% { opacity: 70% }
  50% { opacity: 90% }
  100% { opacity: 70% }
}

/* Sections */

/* Title */

.title {
  background: url(../img/votives.gif) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color: white;
  padding: 1em 2em;
}

@media only screen and (max-width: 600px) {
  .title {
    background: url(../img/votives.gif) no-repeat center center;
    background-size: cover;
  }
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
}

#header-project-title {
    grid-row: 1;
    grid-column: 2/span 1;
    z-index: 2;
    text-align: center;
    align-self: center;
}

.project-title-img {
  margin: 6em auto 1em auto;
  max-width: 400px;
  padding: 10px;
}

#header-album-title {
    grid-row: 2;
    grid-column: 3/span 1;
    z-index: 2;
    text-align: center;
    align-self: center;
}

#header-album-title a {
  color: #a64557;
}

.album-title-img {
  margin: 6em auto 1em auto;
  max-width: 200px;
  padding: 10px;
}

.title-icon {
  margin: 6em auto 1em auto;
  max-width: 200px;
  padding: 10px;
}

.title-text {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: 100;
  opacity: 70%;
  font-size: 10px;
}

#header-image-promo {
    grid-row: 1;
    grid-column: 1;
    text-align: end;
    self-align: end;
    z-index: 3;
}

#header-image-promo img {
    max-width: 150px;
}

#header-image-promo img:hover {
    filter: brightness(0.92);
}

#header-text-promo {
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    text-align: center;
    z-index: 3;
}

#header-text-promo img {
    max-width: 400px;
}

#header-text-promo img:hover {
    opacity: 80%;
}

@media only screen and (max-width: 600px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: 1;
    }

    .header img {
      max-width: 100%;
    }

    #header-project-title {
        grid-row: 1;
        grid-column: 1;
    }

    #header-album-title {
        grid-row: 2;
        grid-column: 1;
    }

    .header > div {
        overflow: hidden;
    }

    #header-title {
        grid-row: 1;
        grid-column: 1;
        align-self: center;
        justify-self: center;
    }

    .title-icon {
      margin-top: 10em;
    }


    #header-text-promo {
        display: none;
    }

}

/* Links */

.links {
    background: url(../img/sunset.jpg) no-repeat cover fixed;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: black;
    color: white;
}

.links a {
  color: #fff5ee;
}

#linkitem1 {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    text-align: center;
    align-self: center;
}

#linkitem2 {
    grid-row: 1;
    grid-column: 3;
    z-index: 1;
    text-align: center;
    align-self: center;
}

#linkitem3 {
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
  text-align: center;
  align-self: center;
}


@media only screen and (max-width: 600px) {
    .links {
        grid-template-columns: 1fr;
        grid-template-rows: 1;
    }

    #linkitem1 {
        grid-row: 1;
        grid-column: 1;
        z-index: 1;
        text-align: center;
        align-self: center;
    }

    #linkitem2 {
        grid-row: 2;
        grid-column: 1;
        z-index: 1;
        text-align: center;
        align-self: center;
    }

    #linkitem3 {
        grid-row: 3;
        grid-column: 1;
        z-index: 1;
        text-align: center;
        align-self: center;
    }

}


/* Press */

.press {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: black;
    color: white;
}

.press content {
  text-align: justify;
  align-self: center;
}

.press a {
  color: #fdf5e6;
}
/*#pressitem1 {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    text-align: center;
    align-self: center;
}

#pressitem2 {
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    text-align: center;
    align-self: center;
}*/


/* Bio */

.bio {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    background-color: black;
    color: white;
}

#biopromoimage {
    grid-row: 1;
    grid-column: 2;
    z-index: 2;
}

#bioitem1 {
    grid-row: 1;
    grid-column: 3/span 3;
    z-index: 3;
    text-align: justify;
    align-self: center;
}

#bioitem2 {
    grid-row: 1/span 2;
    grid-column: 4/span 2;
    z-index: 1;
}

#bioitem3 {
    grid-row: 2/span 2;
    grid-column: 1/span 2;
    z-index: 1;
}

#bioitem4 {
    grid-row: 3/span 2;
    grid-column: 2/span 3;
    z-index: 2;
    align-self: start;
    text-align: justify;
}

#bioitem5 {
    grid-row: 5;
    grid-column: 1/span 3;
    font-size: 16px;
    text-align: justify;
    align-self: start;
}

#bioitem6 {
    grid-row: 6;
    grid-column: 3/span 3;
    z-index: 2;
    text-align: justify;
    align-self: start;
}

#bioitem7 {
    grid-row: 5/span 2;
    grid-column: 4/span 2;
    z-index: 1;
    align-self: center;
}

#bioitem7 img {
    max-width: 80%;
    margin: auto;
}

#bioitem8 {
    grid-row: 6;
    grid-column: 1/span 5;
    z-index: 2;
    align-self: end;
    font-size: 14px;
}

#biovideo {
    grid-row: 7;
    grid-column: 2/span 3;
    z-index: 1;
}

@media only screen and (max-width: 600px) {
    .bio {
        grid-gap: 3rem;
        grid-template-columns: 1fr 2fr;
    }

    .bio > div {
        overflow: hidden;
    }

    #bioitem1 {
        grid-row: 1;
        grid-column: 1/span 2;
        z-index: 3;
        font-size: 18px;
    }

    #bioitem2 {
        grid-row: 2;
        grid-column: 1/span 2;
        z-index: 1;
    }

    #bioitem2 img {
        opacity: 100%;
    }

    #bioitem3 {
        grid-row: 4;
        grid-column: 1/span 2;
        z-index: 1;
    }

    #bioitem3 img {
        opacity: 100%;
    }

    #bioitem4 {
        grid-row: 3;
        grid-column: 1/span 2;
    }

    #bioitem5 {
        grid-row: 5;
        grid-column: 1/span 2;
        align-self: end;
        z-index: 2;
    }

    #biopromoimage {
        grid-row: 6;
        grid-column: 1/span 2;
    }

    #bioitem6 {
        grid-row: 7;
        grid-column: 1/span 2;
    }

    #bioitem7 {
        grid-row: 8;
        grid-column: 1/span 2;
    }

    #bioitem7 img {
        max-width: 100%;
        margin: auto;
    }

    #bioitem8 {
        grid-row: 9;
        grid-column: 1/span 2;
        font-size: 1em;
    }

    #biovideo {
        grid-row: 10;
        grid-column: 1/span 2;
    }
}

/* Footer */

/*#565251*/
/*#0f160c*/
/*#cfd8e8*/
/*#7a8f82*/
.footer {
    /*height: 100vh;*/
    margin: 0;
    padding: 0;
    /*background-color: #7a8f82;*/
    background-image: url(../img/water-background2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
}

.footer-feature {
    /*background: url(../img/splash.jpeg) no-repeat center bottom;*/
    /*background-size: cover;*/
  /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    /*color: black;*/
    padding: 3em 5em 0 5em;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
}

/*#ab83a2*/
/*#a3b9a8*/
/*#6b8b70*/
/*#c1dcc7*/
/*#57535e*/
.footer a {
    text-decoration: none;
    font-weight: bold;
    color: #57535e;
}
.footer a:hover {
    opacity: 0.7;
}

#featureitem1 {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

#featureitem2 {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    text-align: justify;
}

.footer-panel {
    grid-row: 2;
    grid-column: 1;
    text-align: justify;
    align-self: center;
    color: black;
    padding: 10px;
    background-image: url(../img/cloud-background.jpeg);
    background-size: cover;
    background-position: top;
    opacity: 0.9;
}

/*#d8a2bd
#ab83a2*/
.footer-panel a {
    color: #ab83a2;
}

.footer-video {
    grid-row: 3;
    grid-column: 1;
    width: 100vw;
    height: calc(100vw/1.77777778);
}

.footer-bottom {
    display: none;
}

@media only screen and (max-width: 600px) {
    .footer > div {
        overflow: hidden;
    }

    .footer {
        grid-gap: 0;
    }

    .footer-feature {
        grid-template-columns: 1fr;
        padding: 3em 2em 0 2em;
    }

    #featureitem1 {
        grid-row: 1;
        grid-column: 1;
    }

    #featureitem2 {
        grid-row: 2;
        grid-column: 1;
    }

    .footer-panel {
        margin: 3em 0;
        padding: 1em;
        background-position: top;
    }

   /* .footer-panel a {
        color: #ffd5ea;
    }*/

    .footer-bottom {
        margin: 1em;
        display: block;
        grid-row: 4;
        grid-column: 1;
        text-align: center;
        justify-self: center;
        align-self: top;
        font-size: 12px;
    }
}


